.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}
.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}
.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}
.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}
.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}
.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}
.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}
.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 400;
  line-height: 1.5;
  background-color: whitesmoke;
  height: 100%;
  color: #434455;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-web {
  width: 1440px;
  margin: 0 auto;
  background-color: white;
}

.top-header {
  border-bottom: 1px solid #e7e9fc;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

.logo-nav-address {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.navigator {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  text-decoration: none;
}

.navigator-list-item {
  color: yellowgreen;
  border: 1px solid green;
  text-decoration: none;
  padding: 24px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.where-to-find-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 40px;
}

.where-to-find-list-item {
  font-style: normal;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo-navigator a:hover,
.logo-navigator a:active,
.logo-navigator a:focus {
  color: #404bbf;
  text-decoration: none;
}

.heading-one {
  color: white;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-top: 0;
}

.heading-two {
  color: ##212121;
  font-size: 36px;
  list-style-type: none;
  text-align: center;
  line-height: 1.11em;
  letter-spacing: 0.02em;
}

.heading-three {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.paragraph {
  margin-bottom: 35px;
  letter-spacing: 0.02em;
  color: #434455;
}

.title-section {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.press-me {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  line-height: 1.5;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 2vh 3vh;
  border-radius: 3px;
}

.press-me:hover,
.press-me:active,
.press-me:focus {
  background-color: #404bbf;
  color: #2e2f42;
}

.strategy-section {
  background-color: white;
}

.strategy-section > .heading-two {
  display: none;
}

.strategy-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vh;
  padding: 10vh;
}

.our-team-list-item {
  background-color: #f4f4fd;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 10vh;
}

.our-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.our-team-list-item {
  border: 1px solid lightgray;
  background-color: white;
  width: fit-content;
  text-align: center;
  padding: 0;
  margin: 0;
}

.portofolio-section {
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 188px 0;
}

.portofolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.portofolio-section .heading-three,
.portofolio-section .paragraph {
  color: #434455;
  margin-left: 10px;
}

.portofolio-list-item {
  border: 2px solid lightgray;
  background-color: #f4f4fd;
  width: fit-content;
}

.bottom {
  color: #f4f4fd;
  background-color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 10vh;
}

.bottom .paragraph {
  color: #f4f4fd;
  width: calc((100% - 5vh * 4) / 3);
}

.bottom .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.bottom .logo-span {
  color: #f4f4fd;
}
